body {
	font-family: 'Ubuntu Mono', monospace;
}
.main-header {
	background-color: black;
	height: 600px;
	height: 500px;

}

.main-screen-text {
	padding: 30px;
	color: #76ff03;
	font-size: 56px;
	display: flex;
	justify-content: center;
	text-align: center;
    font-family: 'VT323', monospace;
}



 .main-section {
 	min-height: 80%;
 	background-color: white;
 	margin: 100px;
 }

 .post-section {
 	background-color: #e3f2fd;
 	padding: 15px;
 	margin: 20px;
 	text-align: justify;
 }

 .post-section h4 {
 	color: #42a5f5;
 }

 .widget ul li a{
 	color: white;
 }

 @media(max-width: 414px ) {
 	.main-screen-text{
 		font-size: 25px;
 	}

 	.post-section {
 		width: 96%;
 		margin: 10px;
 	}
 }



